main {
  align-items: center;
}

h1 {
  display: none;
}

div.hero-section,
div.cards,
div.big-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin-top: 3rem;
  border: black 1px solid;
}

div.hero-section,
div.card {
  align-items: center;
}

iframe.video {
  width: 100%;
  height: 250px;
}

div.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem 0;
}

img.img-jacket {
  width: 100%;
}

div.big-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

div.btn-big-card {
  align-self: center;
}

@media only screen and (min-width: 600px) {
  iframe.video {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) {
  div.cards,
  div.big-card {
    flex-direction: row;
  }

  img.img-big-card,
  div.big-card-text {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
