a {
  text-decoration: none;
}

.btn {
  align-self: center;
  width: 200px;
  padding: 0.8rem;
  margin-top: 25px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;

  border: var(--primary) 2px;
  border-radius: 0.2rem;
  background: var(--primary);
  color: white;
}

.btn:hover {
  background: white;
  color: var(--primary);
}

.shadow {
  box-shadow: 26px 26px 52px #717171, -26px -26px 52px #efefef;
}

.message {
  padding: 1rem;
  border: 1px solid var(--grey);
  color: var(--grey);
}

.success {
  color: green;
  border-color: green;
  background: rgba(0, 255, 0, 0.1);
}

.error {
  color: red;
  border-color: red;
  background: rgba(255, 0, 0, 0.1);
}
